*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
}
#demo{
    margin: 20px 15rem;
    font-size: 2rem;
}
.card-container{
    width: 80%;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
   .borderpro{
    width: 400px; 
    height: 45vh; 
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    
   }
   .imagepro img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
   
   }
   .textpro{
    width: 100%;
    height: 5vh;
    text-align: left;
    line-height: 1;
   }
   .textvalue{
    display: flex;
    justify-content: space-between;
    line-height: 1;
   }
    