<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card bicycle component responsive</title>
    <link rel="stylesheet" href="src/css/component/card bike.css">
</head>
<body>
    <div class="product-card">
        <h1 >New Arrivals</h1>
        <div class="box-card">
            <div class="card">
                <div class="img">
                    <img src="images/image_2-removebg-preview.png" alt="">
                </div>
                <div class="paragraph">
                    <p>Road bkie-Specialized</p>
                </div>
                <div class="price">
                    <div class="box">
                        <h2>Diverge Elite E5</h2>
                        <p style="text-decoration: line-through black; color: gray; font-size: 20px;">$2,000</p>
                    </div>
                    <div class="box-1">
                        <h2>New</h2>
                        <h2>$1,799.99</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>