<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=IBM+Plex+Sans:wght@100;200;300&family=Knewave&family=Luckiest+Guy&family=Protest+Riot&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="src/css/component/menu.css" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
  <script>
    $(document).ready(function () {
      $('#icon').click(function () {
        $('ul').toggleClass('show')
      });

    });
  </script>
    <title>MENU</title>
  </head>
  <body>
    <div class="menu-bar">
      <nav>
        <label class="logo">PMKH</label>
        <ul>
          <li><a href="" class="ctive">Home</a></li>
          <li><a href="#">Bike</a></li>
          <li><a href="about page/about.html">About</a></li>
        </ul>
        <label id="icon">
          <i class="fa-solid fa-bars"
            style="color: aliceblue;font-size: 30px;line-height: 80px;margin-right: 40px;cursor: pointer;"></i>
        </label>

      </nav>
    </div>
  </body>
</html>
